body{
    background-color: palegreen;
}

h1{
    text-align: center;
}

ul, li{
    font-size: large;
    color: red;
    text-align: center;
}

.home-image{
    width: 250px;
    border: 3px solid black;
}

#copyright{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
   
}